@import "tailwindcss";

:root {
}

@theme {
  --color-main-blue: rgb(7, 92, 191);
  --color-main-green: rgb(125, 188, 57);
  --color-main-gray: rgb(240, 240, 240);
  --color-main-gray-light: rgb(192, 192, 192);

  --font-tahoma: var(--font-tahoma), sans-serif;
  --font-franklinGothic: var(--font-franklinGothic);

  --font-main: "Tahoma, Geneva, Verdana, sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: "Tahoma, Geneva, Verdana, sans-serif";
}

.grid-stack {
  grid-area: 1/1/-1/-1;
  color: rgb(192, 192, 192);
}

li {
  list-style: none;
}
